# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Model files (DO NOT upload to GitHub)
best_distilbert_news_model/
*.zip

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/